---
layout: home-page
---
<ol class="post-card-box clearfix">
  {% for post in paginator.posts %}
  <li>
    <div class="post-card">
      <a href="{{post.url | prepend: site.baseurl}}" class="post-card-image" style="background-image: url( {{ "/assets/img/" | prepend: site.baseurl | append : post.img}} )">
      </a>
      <div class="post-card-body">
        {% for tag in post.tags %}
        <a href="{{site.baseurl}}/tags#{{tag}}" class="tag">|&#32;{{ tag }}</a>
        {% endfor %}
        <a href="{{post.url | prepend: site.baseurl}}" class="post-card-link"><h3 class="post-card-title">{{post.title}}</h3></a>
      </div>

    </div>
  </li>
  {% endfor %}
</ol>
<script src="//unpkg.com/gitalk/dist/gitalk.min.js"></script>
  <script>
    const gitalk = new Gitalk({
      clientID: '88a228f7139b31216822',
      clientSecret: 'd2c7e7c11b91d2e0f3d7ed3ed1ab1b2c08ad5591',
      repo: 'doocs.github.io',
      owner: 'doocs',
      admin: ['yanglbme'],
      number: 1,
      distractionFreeMode: true,
      labels: ['talk'],
      title: 'Welcome to join the Doocs Open Source organization',
      perPage: 15,
    })
  </script>
  
