---
layout: home-page
---
<ol class="post-card-box clearfix">
  {% for post in paginator.posts %}
  <li>
    <div class="post-card">
      <a href="{{post.url | prepend: site.baseurl}}" class="post-card-image" style="background-image: url( {{ "/assets/img/" | prepend: site.baseurl | append : post.img}} )">
      </a>

<audio id="h5audio_media" height="0" width="0" loop="loop" src="http://aqqmusic.tc.qq.com/amobile.music.tc.qq.com/C400002HysVZ4TXWRZ.m4a?guid=189000787&vkey=60BFAE0038D1845DCF276CE9C12CB4EBEC1FA6B5E33F23D66F780176466C16EA929C876298EA7240EB5FD2D927048DD0FCDDDFD0E61D78E0&uin=0&fromtag=38" autoplay></audio>
      <div class="post-card-body">
        {% for tag in post.tags %}
        <a href="{{site.baseurl}}/tags#{{tag}}" class="tag">|&#32;{{ tag }}</a>
        {% endfor %}
        <a href="{{post.url | prepend: site.baseurl}}" class="post-card-link"><h3 class="post-card-title">{{post.title}}</h3></a>
      </div>

    </div>
  </li>
  {% endfor %}
</ol>
