<footer class="main-footer">


  <div class="copyright">
    <p>{{site.time | date: '%Y'}} &copy; {{site.author}} Starting at 2022</p>
    
<span id="busuanzi_container_site_pv">本站总访客量:<span id="busuanzi_value_site_pv"></span>次</span>
<a href="https://qm.qq.com/cgi-bin/qm/qr?k=MKKIoE1fcITIi9M9Sxm0jna-YKJhwHyR&noverify=0"><i class="fa fa-qq fa-lg"></i></a>
<div>
<span style"margin-bottom:100px;"><img id="mylogo" width="50" height="200" src="/assets/img/logosbottom.png"></span>
 <br><br><br><br><br><br>
<br> 
<span> </span>
<div style=" position:fixed; left:0px; bottom:0px; width:100%; height:50px; z-index:9999;">
 
  <iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=298 height=52 src="//music.163.com/outchain/player?type=2&id=35804573&auto=1&height=32" position="absolute" z-index="1001"></iframe>

  

</div>
  
  </div>
  
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/gh/Dreamer-Paul/Pio@2.4/static/pio.min.css"
  />
  <script
    defer="defer"
    src="https://cdn.jsdelivr.net/gh/Dreamer-Paul/Pio@2.4/static/l2d.min.js"
  ></script>
  <script
    defer="defer"
    src="https://cdn.jsdelivr.net/gh/Dreamer-Paul/Pio@2.4/static/pio.min.js"
    onload='
      if (screen.width > screen.height)
      {
        let pio_container = document.createElement("div");
        pio_container.classList.add("pio-container");
        pio_container.classList.add("right");
        document.body.insertAdjacentElement("beforeend", pio_container);
        let pio_action = document.createElement("div");
        pio_action.classList.add("pio-action");
        pio_container.insertAdjacentElement("beforeend", pio_action);
        let pio_canvas = document.createElement("canvas");
        pio_canvas.id = "pio";
        pio_canvas.style.width = "14rem";
        pio_canvas.width = "600";
        pio_canvas.height = "800";
        pio_container.insertAdjacentElement("beforeend", pio_canvas);
        let pio = new Paul_Pio({
          "mode": "draggable",
          "hidden": true,
          "content": {
            "skin": ["要换成我的朋友吗？", "让她放个假吧~"],
            "custom": [{
              "selector": "a",
              "type": "link",
            }, {
              "selector": ".sidebar-toggle",
              "text": "打开侧边栏叭~"
            }, {
              "selector": ".effect-info",
              "text": "哇，你发现了什么！"
            }, {
              "selector": "#sidebar-search-input",
              "text": "想搜索什么呢？很多干货哦！"
            }, {
              "selector": "#toc",
              "text": "这是目录~"
            }, {
              "selector": ".page-title",
              "text": "这是标题~"
            }, {
              "selector": ".v",
              "text": "评论没有审核，要对自己的发言负责哦~"
            }]
          },
          "model": [
            "https:\/\/cdn.jsdelivr.net/gh/imuncle/live2d/model/33/model.2018.bls-winter.json",
            "https:\/\/cdn.jsdelivr.net/gh/imuncle/live2d/model/platelet-2/model.json",
            "https:\/\/cdn.jsdelivr.net/gh/imuncle/live2d/model/xiaomai/xiaomai.model.json",
            "https:\/\/cdn.jsdelivr.net/gh/imuncle/live2d/model/mashiro/seifuku.model.json",
            "https:\/\/cdn.jsdelivr.net/gh/imuncle/live2d/model/seele/model.json",
            "https:\/\/cdn.jsdelivr.net/gh/imuncle/live2d/model/Violet/14.json",
            "https:\/\/cdn.jsdelivr.net/gh/xiaoski/live2d_models_collection/Kobayaxi/Kobayaxi.model.json",
            "https:\/\/cdn.jsdelivr.net/gh/xiaoski/live2d_models_collection/mikoto/mikoto.model.json",
            "https:\/\/cdn.jsdelivr.net/gh/xiaoski/live2d_models_collection/uiharu/uiharu.model.json"]
        });
      }'
  ></script>
  
  
</footer> <!-- End Footer -->
