<footer class="main-footer">
  <div class="copyright">
    <p>{{site.time | date: '%Y'}} &copy; {{site.author}}</p>
    <p>Starting at 2019</p>
    <p>music is open</p>
<!--音乐-->
<div class="video_exist play_yinfu" id="audio_btn" style="display: block;z-index:999999;">
    <div id="yinfu" class="rotate"></div>
    <audio preload="auto" autoplay="" id="media" src="/hackerysk.github.io/88784059d21f1684510181eff232d13f.mp3" 
      autoplay preload loop="loop"></audio>
       音乐出问题了！
</div>  
</div>
</footer> <!-- End Footer -->
