
<header class="main-header">
  
  

  
  <div class="wrapper">
    <div class="header-flex">
      <div class="menu-icon-container">
        <span class="menu-icon"><i class="fa fa-bars" aria-hidden="true"></i></span>
      </div>
      <nav class="main-nav">
        <span class="menu-icon-close"><i class="fa fa-times" aria-hidden="true"></i></span>
        <ul>
          <li><a href="{{site.baseurl}}/">Blog</a></li>
          <li><a href="{{site.baseurl}}/tags">Tags</a></li>
          <li><a href="{{site.baseurl}}/about">About</a></li>  
		  
          <li><font style="font_site: 3;">特设特设特设特设</font></li>  
		  
          <li><a href="https://zaosan.rthe.xyz">zao3-BkMs(2021out)</a></li>
		  <li><a href="{{site.baseurl}}/bookmarks">zao3-BkMs(2022mirror)</a></li>
          <li><a href="https://zaosan.github.io">zaosan(test...)</a></li>
		  <li><a href="https://arcxingye.github.io/r18/"><font color="#df0d56">♥R18♥</font></a></li>
          <!--
          <li><a href="https://ygstudent.github.io">洛一高综合</a></li>
          <li><a href="https://ygstudent.vercel.app/">(备用)洛一高综合镜像</a></li>
          -->
		  <!--
          <li><a href="{{site.baseurl}}/love">表白墙</a></li>
          <li><a href="{{site.baseurl}}/lovehelp">表白墙教程</a></li>
          -->
        </ul>
      </nav> 
<p class="logo"><a href="{{site.baseurl}}/">{{ site.author }}</a>&nbsp&nbsp&nbsp<img src="/assets/img/headergif.gif" width="25" height="25"></p>
      <div class="search-icon-container">
        <span class="search-icon"><a><i class="fa fa-search" aria-hidden="true"></i></a></span>
      </div>
<br>
<!-- <div style="backgroud-color:#4F94CD;margin:0;padding:0;"><font color="#B452CD" site="4">喜提</font></div> -->
 </div>
  </div>
 
  
 
  
</header> <!-- End Header -->
