---
layout: default
---
<div class="flex-container">
  <script type="text/javascript">
        var a_idx = 0;
        jQuery(document).ready(function($) {
        $("body").click(function(e) {
        var a = new Array("❤谢谢光顾❤","❤点击❤","❤ysk❤","❤欢迎❤","❤下面加我Q❤","❤QAQ❤","❤");
        var $i = $("<span></span>").text(a[a_idx]);
        a_idx = (a_idx + 1) % a.length;
        var x = e.pageX,
        y = e.pageY;
        $i.css({
            "z-index": 999999999999999999999999999999999999999999999999999999999999999999999,
            "top": y - 20,
            "left": x,
            "position": "absolute",
            "font-weight": "bold",
            "color": "rgb("+~~(255*Math.random())+","+~~(255*Math.random())+","+~~(255*Math.random())+")"
        });
        $("body").append($i);
        $i.animate({
            "top": y - 180,
            "opacity": 0
        },
        1500,
        function() {
            $i.remove();
        });
    });
});
</script>
  {% include header.html %}
  <div class="content wrapper">
    {{ content }}
  {% include search.html %}
  {% include pagination.html %}
  </div> <!-- End Wrapper -->
  {% include footer.html %}
</div>
