---
layout: default
---
<div class="flex-container">
  {% include header.html %}
  <!-- 广告位1 -->
  <section class="about-container">
    <a href="https://neave.tv"><p style="text-align: center;"><img src="/assets/img/headimg1.jpg" width="440" height="180"/></p></a>
    <div style="z-index:9999;"><h5 align="center"><font color="#df0d56">click img</font></h5></div>
  </section>
  <div class="content wrapper">
    {{ content }}
  {% include search.html %}
  {% include pagination.html %}
  </div> <!-- End Wrapper -->
  {% include footer.html %}
</div>
